crd_fusion_perception/crd_utils/conf_generation/__pycache__
crd_fusion_perception/crd_utils/crd_fusion/__pycache__/
crd_fusion_perception/configs
disparity_visual_servo_common/src/disparity_visual_servo_common/__pycache__/
disparity_visual_servo_common/src/disparity_visual_servo_common/*.pyc
disparity_visual_servo_common/*.bag
disparity_visual_servo_common/realsense
visual_servo/target/config*
visual_servo/robot_state_*
visual_servo/robot_state/