<launch>
    <arg name="model" default="burger" />
    <arg name="x_pos" default="2.0" />
    <arg name="y_pos" default="-1.5" />
    <arg name="z_pos" default="0.0" />
    <arg name="z_rot" default="1.571" />
    <!--arg name="x_pos" default="1.920" />
    <arg name="y_pos" default="-1.125" />
    <arg name="z_pos" default="0.0" />
    <arg name="z_rot" default="1.761" /-->
    <arg name="open_rviz" default="true" />
    <arg name="rviz_config" default="$(find turtlebot3_d435)/rviz/robot_images.rviz" />
    
    <include file="$(find depth_visual_servo_common)/launch/set_common_param.launch" />
    
    <include file="$(find turtlebot3_d435)/launch/turtlebot3_d435.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="x_pos" value="$(arg x_pos)"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="z_rot" value="$(arg z_rot)"/>
        <arg name="open_rviz" value="$(arg open_rviz)"/>
        <arg name="rviz_config" value="$(arg rviz_config)"/>
    </include>

    <!-- Generate raw disparity -->
    <node pkg="turtlebot3_d435" name="gen_raw_disp" type="gen_raw_disp"/>
</launch>
  